// $first-clr : #9A1750;
// $second-clr: #E3AFBC;
// $third-clr: #EE4C7C;
// $fourth-clr: #E3E2DF;
// $fifth-clr: rgba(187, 184, 184, 0.89);
// $sixth-clr: #5D001E;
$first-clr : #25274D;
$second-clr: #464866;
$third-clr: #aaabb8;
$fourth-clr: #2e9cca;
$fifth-clr: #2e9cca;

// $laptop-img-size: 280;
// $laptop-img-size: 320;
$mobileNavBar: 500px;
$tabletNavBar: 650px;