.home {
  @include flex('row');
  height: 100vh;
  text-align: left;

  p {
    max-width: 500px;
    color: $first-clr;
  }
}

.signature {
     font-family: 'Permanent Marker', cursive;
     font-size: 5rem;
     font-weight: 400;
     color: #5D001E;

     @media(max-width: 768px) {
        font-size: 3.5rem;
     }
     @media(max-width: 425px) {
        font-size: 3rem;
     }
}