.fancy-txt {
  background: var(--fancy-gradient);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-text-stroke: var(--text-primary) 0.5px;
  text-shadow: 2px 1px 7px rgba(0, 0, 0, 0.2);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: double;
  text-decoration-color: var(--accent);
  text-underline-offset: 9px;
  font-size: 2.5rem;


  @media(max-width: 650px) {
    font-size: 1.8rem;
 }
}
