.fancy-txt {
  background: linear-gradient(to right, #155677 0% 30%, #0c93c9 48%, #a643c4c0 50%, rgba(204, 55, 142, 0.705) 60%, rgb(235, 117, 21) 80%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-text-stroke: white 0.5px;
  text-shadow: 2px 1px 7px rgba(19, 10, 10, 0.541);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: double;
  text-decoration-color: rgba(241, 5, 202, 0.795);
  text-underline-offset: 9px;
  font-size: 2.5rem;


  @media(max-width: 650px) {
    font-size: 1.8rem;
 }
}
