.more-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(90deg) scale(1.5);
    margin: 0 2rem 3rem 0;
    opacity: 0.66;
    animation-name: backNforth;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    @media(max-width: 345px) {
        display: none;
    }
}

@keyframes backNforth {
    50% {margin: 0 2rem 4.5rem 0}
}
