:root{
    --base:#ffc600;
    --blur:10px;
    --spacing:10px;
    --rotate:0deg;
    --border-radius:0;
}
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(90, 128, 209, 0.767);
    color:#fff;
}
h2{
    text-align: center;
}
.h1{
    color:var(--base);
}
.controls{
    width:80%;
    text-align: center;
    margin: 2rem auto;
}
input{
    margin:12px 12px 12px 0;
}

img{
    background:var(--base);
    filter:blur(var(--blur));
    padding:var(--spacing);
    transform: rotate(var(--rotate));
    border-radius: var(--border-radius);
    max-width: 300px;
    max-height: 300px;
    margin:3.5rem auto;
    display: block;
}