*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
   background: url("Drum-bg.jpg") no-repeat;
   background-size: cover;
   height: 100vh;
}

kbd{
    display:block;
    color:#fff;
    font-size:2rem;
    font-family:monospace;
}
.keys{
    text-transform: uppercase;
    width:80%;
    display: flex;
    justify-content: space-between; 
}
.key{
    font-size:0.8rem;
    color:rgba(216, 179, 14, 0.842);
    background: rgba(12, 11, 11, 0.714);
    border:4px solid #000;
    text-align: center;
    padding:1.2rem;
    display: inline-block;
    width:100px;
    transition:0.07s;
}
.playing{
    transform:scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}