@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

.signature {
     font-family: 'Permanent Marker', cursive;
     font-size: 6rem;
     font-weight: 400;
     color: #5D001E;
   //   color: $first-clr;

     @media(max-width: 768px) {
        font-size: 3.5rem;
     }
     @media(max-width: 425px) {
        font-size: 3rem;
     }
}

body {
    font-family: 'Open Sans', sans-serif;
}